{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello {{employee.name}}!
<table>
  <tr>
    <th>Customers</th>
    <th>Address</th>
  </tr>
  {% for customer in customers %}
  <tr>
    <td>{{customer.name}}</td>
    <td>{{customer.street}}/{{customer.zipcode}}/{{customer.city}}</td>
  </tr>
  {% endfor %}
</table>
{% for customer in customers %}
{% if customer.is_collected == False and forloop.first %}
  <form action="{% url 'employees:index' %}" method='POST'>
      {% csrf_token %}
  <button name="confirm_pickup" id="confirm_pickup" type="submit">Route Completed</button>
  </form>
{% else %}
{% endif %}
{% endfor %}
<img src="https://maps.googleapis.com/maps/api/staticmap?center=99504&zoom=13&scale=1&size
=600x500&maptype=hybrid&key=AIzaSyCbrvdmLudcLIt5j52ZZSwfCMyNkU9itqo&format=png&visual_refresh
=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{addresses.0}},Anchorage&markers
=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{addresses.1}},Anchorage&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{addresses.2}},+Anchorage"  >
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}