{% extends 'base.html' %}

{% block title %}{% block header %} Upcoming Pickups {% endblock %}{% endblock %}

{% block content %}

<form action="{% url 'employees:upcoming_pickups' %}" enctype="multipart/form-data" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit">
</form>
<table>
  <tr>
    <th>Customers</th>
    <th>Address</th>
  </tr>
  {% for customer in customers %}
  <tr>
    <td>{{customer.name}}</td>
    <td>{{customer.street}}/{{customer.zipcode}}/{{customer.city}}</td>
  </tr>
  {% endfor %}
</table>
  {% endblock %}