{% extends 'base.html' %}

{% block title %}{% block header %} Update Account Status {% endblock %}{% endblock %}

{% block content %}
{{customer.name}}<br>
    {% if customer.account_status is True %}
    <span>Account Status: Active</span><br>
    {% else %}
    <span>Account Status: Suspended</span><br>
    {% endif %}

<form action="{% url 'customers:update_account_status' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Account Status</button>
  </form>
{% endblock %}