{% extends 'base.html' %}

{% block title %}{% block header %} Customer Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated%}
  {% if not customer %}
  Hello {{user.username}}!
  {%else%}
  Hello {{customer.name}}!
{% endif%}
  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
  {% if not customer%}
    <a href="{% url 'customers:create_account' %}" >
    <button>Start your service today!</button>
    </a>
  {% endif %}
{% endblock %}