{% extends 'base.html' %}

{% block title %}
Customer Home
{% endblock %}
{% block content %}
  {% if user.is_authenticated%}
  {% if not customer %}
  <div class="container-fluid" style="line-height: 2.5rem;">
    <h1 class="row justify-content-center no-gutters">Hello {{user.username}}!</h1>
    {%else%}
    <h1 class="row justify-content-center no-gutters" style="padding-top: 2rem;">Hello {{customer.name}}!</h1>
  </div>
  <div class="container-fluid" style="line-height: 3rem;">
    <h3 class="row justify-content-center no-gutters" style="font-size: 2rem; padding-bottom: 2rem; padding-top: 2rem;">Account Details</h3>
    <div class="row main__content justify-content-center no-gutters" style="font-size: 1.25rem;margin-left:2.5%;">
      <table>
        <tr>
          {% if customer.account_status is True %}
          <th>Account Status:  </th>
          <td>&nbsp;Active</td>
        </tr>
          {% else %}
        <tr>
          <th>Account Status:  </th>
          <td>&nbsp;Suspended</td>
        </tr>
        {% endif %}
        <tr>
          <th>Address:</th>
          <td>&nbsp;{{customer.street}} / {{customer.zipcode}}</td>
        </tr>
        <tr>
          {% if customer.pickup != 'N/A' %}
          <th>Pickup Day:</th><td>&nbsp;{{customer.pickup_day}}</td>
          {% else %}
          <th>Pickup Day:</th><td>Not Selected</td>
          {% endif %}
        </tr>
        <tr>
          <th>Projected Total:</th><td>&nbsp;${{customer.projected_total}}</td>
        </tr>
        <tr>
          <th>Amount Due:</th><td>&nbsp;${{customer.amount_due}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="container-fluid" style="margin-top:7%;">
    <div class="content row no-gutters justify-content-center" >
      <button type="button" class="btn btn-dark">
        <a href="{% url 'logout' %}">Log Out</a>
      </button>
    </div>
  </div>

{% endif%}
  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
  {% if not customer%}
    <a href="{% url 'customers:create_account' %}" >
    <button class="btn btn-dark" type="button">Start your service today!</button>
    </a>
<a href="{% url 'logout' %}"><button type="button" class="btn btn-dark" >Log Out</button></a>

  {% endif %}
{% endblock %}