{% extends 'base.html' %}

{% block title %}{% block header %} Customer Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated%}
  {% if not customer %}
  Hello {{user.username}}!
  {%else%}
  <h2>Hello {{customer.name}}!</h2>
  <div>
    <h3>Account Details</h3>
    {% if customer.account_status is True %}
    <span>Account Status: Active</span><br>
    {% else %}
    <span>Account Status: Suspended</span>
    {% endif %}
    <span>Address: {{customer.street}},{{customer.city}} / {{customer.zipcode}}</span><br>
    <span>Pickup Day: {{customer.pickup_day}}</span><br>
    <span>Subtotal: {{customer.subtotal}}</span><br>
  </div>
{% endif%}
  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
  {% if not customer%}
    <a href="{% url 'customers:create_account' %}" >
    <button>Start your service today!</button>
    </a>
  {% endif %}
{% endblock %}