{% extends 'base.html' %}

{% block title %} Start Service | Update Service {% endblock %}


{% block content %}
<div class="container-fluid">
    <h1 class="row no-gutter justify-content-center">Services</h1>
</div>
<div class="container-fluid">
    <div class="row no-gutters justify-content-center" style="margin-top:2rem;margin-bottom:3rem;">
        <table class="table table-sm" style="width:50%;text-align:center;">
            <tr>
                <th>Rates</th>
                <td>Monthly</td>
                <td>One-Time</td>
            </tr>
            <tr>
                <td></td>
                <td>$28</td>
                <td> $50 </td>
            </tr>
        </table>
        </div>
 </div>
<div class="row no-gutters justify-content-center">
<form action="{% url 'customers:change_pickup_day' %}" method="post">
    {% csrf_token %}
    <label for="pickup_day" style="font-size:1.25rem;">Select Pickup Day: </label>
    <select name="pickup_day" id="pickup_day" style="height:90%;width:130px;margin-right:9px;cursor:pointer;">
        <option value="N/A"></option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
    </select>
    <label style="font-size:1.25rem;margin-right:5px;">Select Pickup Date:</label>
    <input style="height:90%;width:13.7rem;cursor:pointer;" type="date" name="specific_date" id="specific_date" min="2021-04-15" max="2021-06-15">
    <button class="btn btn-dark" type="submit" style="height:90%;position:relative;bottom:.10rem;left:1.5rem;">
        <span style="vertical-align:start;">Submit</span>
    </button>
  </form>
</div>
{% endblock %}